body{
    background-color: #FAFAFA;
    font-family: 'Antic Slab', serif;
}
#content{
    display: flex;
    flex-direction: column;
}
.box{
    border : 2px solid black;
    background-color: #454A4D;
    margin : 5px;
    border-radius: 5px;
}
.subBox{
    margin-bottom: 5px;
}
.btn{
    border-radius: 10px;
    height: 30px;
    background: turquoise;
    border: none;
}
#title{
    margin-left: auto;
    margin-right: auto;
}
#mainContent{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
#exerciceBox{
    width: 330px;
}
#infoBox{
    width: 320px;
    height: 160px;
}
#codeArea,#outArea{
    color: white;
    border : 2px solid black;
    border-radius: 10px; 
    background-color: #454A4D;
}
#langButtons{
    float: left;
    margin-top: 20px;
}
#langIMG,#langIMG2{
    border: 1px solid black;
    float: right;
    margin-bottom: 5px;
}
#codeArea{
    width: 754px;
    height: 475px ;
}
#glotIoSlot{
    margin: 20px;
    height: 85%;
}
#codeOption{
    margin-left: 10px;
    margin-top: -25px;
}
#outArea{
    width: 754px;
    height:180px;
}
#result{
    margin: 20px;
}
#codeBox{
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

/* SWEET ALERT CSS */

.swal-overlay{
    background-color: rgba(43, 165, 137, 0.45);         
}
.swal-modal {
    background-color: white;
    border: 3px solid black;
    border-radius: 30px;
  }
.swal-button {
    border-radius: 5px;
    background-color: skyblue;
    border: 1px solid black;
}